#collage1 {
  position: absolute;
  top: 100%;
  width: 850px;
  height: 600px;
  margin: 2%;
  margin-left: 15%;
  border-radius: 20px;
  background-color: #2DB307;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23EAEAEA' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%232DB307' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2300ae2e' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2300a746' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2300a05a' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2300986d' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2300907f' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2300888e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%2300809b' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%230077a6' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23006ead' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%230064b1' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23005bb1' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%230050ad' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%230045a6' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23003a9a' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23002d8c' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23001e7c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%231F0B69' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
}
  h2{
    position: absolute;
    color: rgb(219, 219, 194);
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    padding: 1%;
    margin: 5%;
  }

  .Img1{

    width: 400px;
    position: absolute;
    margin-left: 52%;
    margin-top: 25%;
    border-radius: 90px;
    border: 2px rgba(255, 255, 255, 0.541) solid;
    
}
.AboutUs{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: 20%;
    margin-left: 1%;
    background-color:#1a29816b;
    border-radius: 20px;
   
}

.AboutUs p{
    color:  rgb(219, 219, 194) ;
    margin: 1%;
    font-size: 17px;
}
