.Title{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top:20%;
}

.img{
    width: 5%;
    margin-left: 45%;
    margin-top: 10%;
    transform: rotate(20deg);
    animation: moverArribaAbajo 2s ease-in-out infinite;
} 


@keyframes moverArribaAbajo {
    0% {
      transform: translateY(10px);
     
    }
    50% {
      transform: translateY(-10px); /* Ajusta este valor según la escala deseada */
    }
    100% {
      transform: translateY(10px);
    }
  }

    @keyframes moverDerecha {
      
      0% {
        transform: translateX(10px);
       
      }
      50% {
        transform: translateX(-10px); /* Ajusta este valor según la escala deseada */
      }
      100% {
        transform: translateX(10px);
      }
   

}
.Dude{

  animation: moverDerecha 2s ease-in-out infinite;
  margin-left: 90%;
  margin-top: 35%;
  width: 80px;
}